<div class="row">
  <div class="col-md-4">
    <h6 style="color:#0069d9;"><i class="fas fa-search"></i> Follow your interests.</h6>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce tristique pretium nisl sed iaculis. Curabitur ut fringilla nunc, sit amet ullamcorper nulla. Ut suscipit vitae magna sed congue. Curabitur blandit, diam sit amet efficitur hendrerit</p>
  </div>
  <div class="col-md-4">
    <h6 style="color:#218838;"><i class="fas fa-users"></i> Hear what people are talking about.</h6>
    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui</p>
 </div>
  <div class="col-md-4">
    <h6 style="color:#0069d9;"><i class="fas fa-comments"></i> Join the conversation.</h6>
    <p>Curabitur ac nisl at sem suscipit iaculis. Pellentesque vel erat at dolor blandit consequat vitae nec velit. Vestibulum quis felis leo. Phasellus venenatis, magna at pellentesque rhoncus, lorem diam elementum nulla</p>
  </div>
</div>
